HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/application-local.yml
src/test/resources/application-test.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
!src/main/resources/opensearch/*.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
uploads/
src/main/resources/static/uploads/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### env ###
*.env

### 숨김 파일 ###
.*
!.gitignore
!.github

### Mac OS ###
.DS_Store
**/.DS_Store

### Logs ###
*.log          # 모든 .log 확장자 파일 무시
*.log.gz       # 추가! logback이 압축한 로그 파일
*.gz           # 추가! 모든 gz 압축 파일
.logs/         # .logs 폴더 전체 무시
logs/          # logs 폴더도 혹시 모르니 같이 추가

### yaml-local ###
application-local.yaml

.DS_Store

*.txt
*.json


*.env.dev*